<div class="current-weather">

  <input ng-controller="MainController"
  ng-model="lat" value="{{lat}}"
  ng-change="updateWeather(lat, lng);">

  <input ng-controller="MainController"
  ng-model="lng" value="{{lng}}"
  ng-change="updateWeather(lat, lng);">

  <div class="localisation">
    <span>{{currentWeather.name}}, {{currentWeather.sys.country}} </span><br/>
  </div>

  <div class="weather-info">
    <i class="wi wi-night-sleet fixed-width"></i>
    <br/>
    <span>{{currentWeather.weather[0].icon}}</span>
    <h2>{{currentWeather.weather[0].description}}</h2>
    <h1>{{currentWeather.main.temp}}</h1>
  </div>

</div>
